<!DOCTYPE html>
<html>
<head>
  <title>MyGoalsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notices] %>
<ul>
  <% flash[:notices].each do |notice| %>
  <li><%= notice %></li>
  <% end %>
</ul>
<% end %>


<% if flash.now[:errors] %>
<ul>
  <% flash.now[:errors].each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>


<%= yield %>


<br><br>
<% if logged_in? %>
  Current User: <%= current_user.username %>

  <table><tr>
  <td><%= button_to "Sign Out", session_url, :method => :delete %></td>
  <td><%= button_to "View Goals", goals_url, :method => :get %></td>
  <% unless request.url == new_goal_url %>
    <td><%= button_to "Create Goal", new_goal_url, :method => :get %></td>
  <% end %>
</tr></table>

<% else %>
  <% unless request.url == new_session_url %>
    <%= button_to "Sign In", new_session_url, :method => :get %>
  <% end %>

  <% unless request.url == new_user_url %>
    <%= button_to "Sign Up", new_user_url, :method => :get %>
  <% end %>

<% end %>
</body>
</html>
